@using e_Commerce.Entity
@model IEnumerable<Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")

                <li style="border:0"> &nbsp;</li>
                <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
            </ul>
        </div>

        <div class="well well-small alert alert-warning cntr">
            <h2>50% Discount</h2>
            <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
            </p>
        </div>
        <div class="well well-small"><a href="#"><img src="/Site/shop-cart/assets/img/paypal.jpg" alt="payment method paypal"></a></div>

        <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
        <br>
        <br>
        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <!--
        New Products
        -->

        <h3>Our Products </h3>


        <ul class="thumbnails">
            @foreach (var item in Model)
            {
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html" class="overlay"></a>
                        <a class="zoomTool" href="product_details.html" title="add to cart" style="display: none;"><span class="icon-search"></span> QUICK VIEW</a>
                        <a href="/Home/ProductDetails/@item.Id"><img src="~/Content/images/@item.Image" style="max-height:207px; max-width:203px; min-width:205px ; min-height:267px;" alt=""></a>
                        <div class="caption cntr">
                            <p>@item.Name</p>
                            <p><strong> @item.Price</strong></p>
                            <h4><a class="shopBtn" href="/Home/ProductDetails/@item.Id" title="add to cart"> View </a></h4>

                            <br class="clr">
                        </div>
                    </div>
                </li>

            }

        </ul>
    </div>




</div>

